@import "tailwindcss";

@theme inline {
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
}

@layer base {
  body {
    background-color: #f8fafc; /* very light gray background from screenshot */
    color: #0f172a;
  }
}
